/*IDEAS*/
.ideas {
	padding-top: em(70px);
	text-align: center;
	background-color: $color-decor-light;

	&__imgs {
		position: relative;
		padding-top: 5%;
	}

	&__img-wrap {
		@include size(65.8% auto);
		max-width: em(770px);
		max-height: em(482px);

		&_left {
			@include position(absolute, null null 0 0);
			z-index: 100;
		}

		&_center {
			position: relative;
			z-index: 200;
			margin: 0 auto;
		}

		&_right {
			@include position(absolute, null 0 0 null);
			z-index: 100;
		}
	}

}
